body {

    font-family: 'Arial', sans-serif;

    margin: 0;

    padding: 0;

    background-color: #f4f4f4;

  }

  

  header {

    background-color: #d33030;

    color: #fff;

    text-align: center;

    padding: 1em;

  }

  

  main {

    max-width: 800px;

    margin: 20px auto;

    padding: 20px;

    background-color: #9194eb;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }

  

  section {

    margin-bottom: 20px;

  }

  

  footer {

    background-color: #333;

    color: #fff;

    text-align: center;

    padding: 1em;

  }
